@using MiOU.BL;
@using MiOU.Entities.Beans;
@using GridMvc.Html
@using GridMvc.DBGrid
@model List<BProduct>
@{
    string htmlStr = null;
    ViewBag.Title = "我的藕品";
    Layout = "~/Views/Shared/_myLayout.cshtml";
    List<BObject> rentTypes = null;
    if (ViewBag.rTypes != null) {
        rentTypes = ViewBag.rTypes as List<BObject>;
    }
    int iType = (int)ViewBag.selType;
    foreach (BObject rtype in rentTypes)
    {
        string className = "nma";
        if (iType == rtype.Id)
        {
            className = "nmaa";
        }
        if (htmlStr == null)
        {
            htmlStr = "<a class=\"" + className + "\" href=\"/My/MyProducts?type=" + rtype.Id + "\">"+rtype.Name+"</a>";
        }
        else
        {
            htmlStr += " <span style=\"color:#B4B4B4;padding-bottom:2px;\">|</span> <a class=\"" + className + "\" href=\"/My/MyProducts?type=" + rtype.Id + "\">" + rtype.Name + "</a>";
        }
    }

    List<BProduct> products = null;
    if(Model!=null)
    {
        products = Model as List<BProduct>;
    }
}

<div>
    <div>
        <h4>@ViewBag.Title</h4>
    </div>
    <hr/>
    
    <div>
        @Html.Raw(htmlStr)
    </div>
    <div>
        @{ 
            foreach(BProduct product in products)
            {
                string area = "";
                if (product.City != null)
                {
                    area += product.City.Name;
                }
                if(product.District!=null)
                {
                    area += " "+product.District.Name;
                }
                if(!string.IsNullOrEmpty(product.Apartment))
                {
                    area += " - " + product.Apartment;
                }
                <div style="overflow:hidden;width:100%;padding-bottom:20px;padding-top:20px;border-bottom:1px solid #F1F1F1;">
                    <div style="float:left;width:138px;">
                        <img style="width:138px;height:138px;" src="/@Html.Raw(product.Images[0].Image.Path)"/>
                    </div>
                    <div style="float:left;width:277.44px;padding-left:20px;padding-right:20px;border-right:1px solid #F1F1F1;font-size:13px;">
                        <div style="overflow:hidden;border-bottom:1px solid #F1F1F1;padding-bottom:5px;font-size:14px;">
                            <div  style="float:left;">
                                @product.Name
                            </div>
                            <div  style="float:right;">
                                <a href="/My/MyProducts?type=@iType.ToString()&cate=@product.Category.Id">@product.Category.Name</a>
                            </div>
                        </div>
                        <div style="overflow:hidden;margin-top:10px;height:20px;line-height:20px;">
                            <img style="width:16px;height:16px;margin:0;padding:0;margin-top:-2px;" src="~/Content/Images/location_icon.png"/><span style="color:#B4B4B4;">@area</span>
                        </div>
                        <div style="overflow:hidden;margin-top:10px;color:#B4B4B4;">
                            近：外滩，人民广场
                        </div>
                        <div style="overflow:hidden;margin-top:10px;color:#B4B4B4;">
                            @product.DeliveryType.Name
                        </div>
                        <div style="overflow:hidden;margin-top:10px;color:#B4B4B4;">
                            @{ 
                                if (product.Status == ProductStatus.CREATED) {
                                    @Html.Raw("等待审核");
                                }
                                else if (product.Status == ProductStatus.PASSED)
                                {
                                    @Html.Raw("审核通过");
                                }
                                else if (product.Status == ProductStatus.FAILED)
                                {
                                    @Html.Raw("审核未通过");
                                }
                            }
                        </div>
                    </div>
                    <div style="float:left;width:369.91px;padding-left:20px;color:#B4B4B4;font-size:13px;">
                        <div>@product.RentType.Name - 费用:</div>
                        <div style="overflow:hidden;margin-top:10px;">
                            @{
                                if (product.Status == ProductStatus.PASSED)
                                {
                                    foreach (BProductPrice price in product.ProductPrices)
                                    {
                                        <div style="float:left;padding-right:20px;padding-top:5px;padding-bottom:5px;"><span style="color:#B4B4B4;">@price.PriceCategory.Name:</span><span style="color:red;padding-left:5px;">@price.EPrice.Price/天</span></div>
                                    }
                                }
                                else if (product.Status == ProductStatus.CREATED)
                                {
                                    @Html.Raw("等待审核");
                                }
                                else if (product.Status == ProductStatus.FAILED)
                                {
                                    @Html.Raw("审核未通过");
                                }
                            }
                        </div>
                        <div style="overflow:hidden;margin-top:10px;">
                            @{
                                if (product.RentOutQuantity > 0)
                                {
                                    <span style="color:#FFD03F;">租赁中...</span>
                                }
                                else
                                {
                                    <span>库存:</span><span style="color:red;padding-left:5px;">@(product.Repertory)/@(product.Repertory+product.RentOutQuantity)</span>
                                }
                            }
                        </div>
                    </div>
                    <div style="padding-left:20px;width:138px;height:100%;float:right;height:140px;border-left:1px solid #F1F1F1;">
                        <ul style="list-style:none;margin:0;padding:0;height:100%;display:block;line-height:100%;">
                            <li style="height:33%;display:block;"><a style="padding:5px 10px 5px 10px;border:1px solid #FFD03F;border-radius:4px; color:#FFD03F;" href="">排期</a></li>
                            <li style="height:33%;display:block;"><a style="padding:5px 10px 5px 10px;border:1px solid #FF9389;border-radius:4px; color:#FF9389;" href="">清洁</a></li>
                            <li style="height:33%;display:block;"><a style="padding:5px 10px 5px 10px;border:1px solid #91B9FF;border-radius:4px; color:#91B9FF;" href="/My/EditProduct?productId=@product.Id">编辑</a></li>
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</div>


