@using MiOU.BL;
@using MiOU.Entities.Beans;
@using GridMvc.Html
@using GridMvc.DBGrid
@model List<BProduct>
@{
    string htmlStr = null;
    ViewBag.Title = "我的藕品";
    Layout = "~/Views/Shared/_myLayout.cshtml";
    List<BObject> rentTypes = null;
    if (ViewBag.rTypes != null) {
        rentTypes = ViewBag.rTypes as List<BObject>;
    }
    int iType = (int)ViewBag.selType;
    foreach (BObject rtype in rentTypes)
    {
        string className = "nma";
        if (iType == rtype.Id)
        {
            className = "nmaa";
        }
        if (htmlStr == null)
        {
            htmlStr = "<a class=\"" + className + "\" href=\"/My/MyProducts?type=" + rtype.Id + "\">"+rtype.Name+"</a>";
        }
        else
        {
            htmlStr += " <span style=\"color:#B4B4B4;padding-bottom:2px;\">|</span> <a class=\"" + className + "\" href=\"/My/MyProducts?type=" + rtype.Id + "\">" + rtype.Name + "</a>";
        }
    }

    List<BProduct> products = null;
    if(Model!=null)
    {
        products = Model as List<BProduct>;
    }
}

<div>
    <div class="topNav">
        <div class="title">@ViewBag.Title</div>
        <div class="line"></div>
    </div>
    
    <div>
        @Html.Raw(htmlStr)
    </div>
    <div>
       
        @{ 
            if(products==null)
            {
                @Html.Raw("您还没有添加任何藕品");
            }

            foreach(BProduct product in products)
            {
                string area = "";
                if (product.City != null)
                {
                    area += product.City.Name;
                }
                if(product.District!=null)
                {
                    area += " "+product.District.Name;
                }
                if(!string.IsNullOrEmpty(product.Apartment))
                {
                    area += " - " + product.Apartment;
                }
                <div class="myrightItem">
                    <div class="pdtImg">
                        <img style="width:138px;height:138px;" src="/@Html.Raw(product.Images[0].Image.Path)"/>
                    </div>
                    <div class="pdtCate bgr1">
                        <div class="title">
                            <div  style="float:left;">
                                <a href="/Product/Detail?productId=@product.Id">@product.Name</a>
                            </div>
                            <div  style="float:right;">
                                <a href="/My/MyProducts?type=@iType.ToString()&cate=@product.Category.Id">@product.Category.Name</a>
                            </div>
                        </div>
                        <div class="mg" style="overflow:hidden;">
                            <img class="locIcon" style="" src="~/Content/Images/location_icon.png"/><span style="color:#B4B4B4;">@area</span>
                        </div>
                        <div class="liitem">
                            近：外滩，人民广场
                        </div>
                        <div class="liitem">
                            @product.DeliveryType.Name
                        </div>
                        <div class="liitem">
                            @{ 
                                if (product.AuditStatus == ProductStatus.CREATED) {
                                    @Html.Raw("等待审核");
                                }
                                else if (product.AuditStatus == ProductStatus.PASSED)
                                {
                                    @Html.Raw("审核通过");
                                }
                                else if (product.AuditStatus == ProductStatus.FAILED)
                                {
                                    @Html.Raw("审核未通过");
                                }
                            }
                        </div>
                    </div>
                    <div class="pdtfee">
                        <div>@product.RentType.Name - 费用:</div>
                        <div style="overflow:hidden;margin-top:10px;">
                            @{
                                if (product.AuditStatus == ProductStatus.PASSED)
                                {
                                    foreach (BProductPrice price in product.ProductPrices)
                                    {
                                        <div style="float:left;padding-right:20px;padding-top:5px;padding-bottom:5px;"><span style="color:#B4B4B4;">@price.PriceCategory.Name:</span><span style="color:red;padding-left:5px;">@price.EPrice.Price/天</span></div>
                                    }
                                }
                                else if (product.AuditStatus == ProductStatus.CREATED)
                                {
                                    @Html.Raw("等待审核");
                                }
                                else if (product.AuditStatus == ProductStatus.FAILED)
                                {
                                    @Html.Raw("审核未通过");
                                }
                            }
                        </div>
                        <div style="overflow:hidden;margin-top:10px;">
                            @{
                                if (product.RentOutQuantity > 0)
                                {
                                    <span style="color:#FFD03F;">租赁中...</span>
                                }
                                else
                                {
                                    <span>库存:</span><span style="color:red;padding-left:5px;">@(product.Repertory)/@(product.Repertory+product.RentOutQuantity)</span>
                                }
                            }
                        </div>
                    </div>
                    <div class="pdtMenu">
                        <ul>
                            <li><a class="bg1" href="">排期</a></li>
                            <li><a class="bg2" href="">清洁</a></li>
                            <li><a class="bg3" target="_blank" href="/My/EditProduct?productId=@product.Id">编辑</a></li>
                        </ul>
                    </div>
                </div>
            }
        }
    </div>
</div>


