@model MiOU.Entities.Beans.BVIPLevel
@{
    ViewBag.Title = "新建VIP等级";
    if (Model != null && Model.Id > 0) {
        ViewBag.Title = "更新VIP等级 - "+Model.Name ;
    }
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_adminLayout.cshtml";
}
<h2>@ViewBag.Title</h2>

<hr/>
@using (Html.BeginForm("NewVip", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.HiddenFor(m=>m.Id)
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Name, new { @class = "col-md-2 control-label " })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Name, new { @class = "form-control input_reg" })
            @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.CurrencyAmount, new { @class = "col-md-2 control-label " })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.CurrencyAmount, new { @class = "form-control input_reg" })
            @Html.ValidationMessageFor(m => m.CurrencyAmount, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.YajinPercentage, new { @class = "col-md-2 control-label " })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.YajinPercentage, new { @class = "form-control input_reg" })
            @Html.ValidationMessageFor(m => m.YajinPercentage, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Description, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(m => m.Description, new { @class = "form-control mTA1" })
            @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger " })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-warning">
                <span class="glyphicon glyphicon-save">保存</span>
            </button>
        </div>
    </div>
}


