@using MiOU.Entities;
@using MiOU.Entities.Beans;
@model BProduct
@{
    ViewBag.Title = "藕品信息";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div></div>

<div id="product_body" style="overflow:hidden;padding-top:20px;">
    <div style="float:left;width:35%;border:1px solid #F1F1F1;padding:2px 2px 2px 2px;">
        <img style="width:400px;height:400px;" src="~/Content/Images/bg.jpg" />
    </div>
    <div style="float:left;width:400px;padding-left:40px;padding-right:40px;">
        <div style="padding-top:5px;padding-bottom:5px;">
            <span>@Model.Name</span><span>@Model.Category.Name</span>
        </div>
        <div style="padding-top:5px;padding-bottom:5px;">
            <span>市场价：</span><span>@Model.Price</span>
        </div>
        <div style="padding-top:5px;padding-bottom:5px;">
            <img class="locIcon" style="width:15px;height:15px;margin-top:-3px;margin-right:5px;" src="~/Content/Images/location_icon.png" /><span >闵行-上海春城</span>
        </div>
        <div style="padding-top:2px;padding-bottom:10px;border-bottom:1px solid #F1F1F1;"> 
            <span>附近：@Model.Nearby</span>
        </div>
        <div style="padding-top:15px;padding-bottom:15px;">
            <span style="display:block;">租赁费用：</span>
            <div style="">
                @{
                    if (Model.AuditStatus == ProductStatus.PASSED)
                    {
                        foreach (BProductPrice price in Model.ProductPrices)
                        {
                            <div style="float:left;padding-right:20px;padding-top:5px;padding-bottom:5px;"><span style="color:#B4B4B4;">@price.PriceCategory.Name:</span><span style="color:red;padding-left:5px;">@price.EPrice.Price/天</span></div>
                        }
                    }
                    else if (Model.AuditStatus == ProductStatus.CREATED)
                    {
                        @Html.Raw("等待审核");
                    }
                    else if (Model.AuditStatus == ProductStatus.FAILED)
                    {
                        @Html.Raw("审核未通过");
                    }
                }
            </div>
        </div>
        <div style="border-top:1px solid #F1F1F1;padding-top:15px;">
            <span>藕品状态：</span>
            <span>
             @{ 
                 string status = "";
                 switch(Model.Status)
                 {
                     case RentStatus.IDEL:
                         status = "空闲";
                         break;
                     case RentStatus.BUSY:
                         status = "租赁中";
                         break;
                     case RentStatus.LOCKED:
                         status = "锁定";
                         break;
                     case RentStatus.MAINTAIN:
                         status = "保养中";
                         break;
                 }

                 if (Model.User.User.UserType == 1)
                 {
                     @Html.Raw(status);
                 }
                 else if (Model.Status != RentStatus.LOCKED)
                 {
                    <span>库存:</span><span style="color:red;padding-left:5px;">@(Model.Repertory)/@(Model.Repertory + Model.RentOutQuantity)</span>
                 }
            }
            </span>
        </div>
        <div style="padding-top:5px;padding-bottom:5px;">
            <span>交货方式：</span><span>@Model.DeliveryType.Name</span>
        </div>
        <div style="padding-top:15px;padding-bottom:15px;">
            <span>
                @{ 
                    if (Model.ManageType == 1)
                    {
                        @Html.Raw("自己管理");
                    }
                    else if (Model.ManageType == 2)
                    {
                        @Html.Raw("米藕代管");
                    }
                }
            </span>
        </div>
        <div>
            <input type="button" class="btn btn-danger" value="立即租赁" onclick="location.href = '/Product/Rent';">
        </div>
    </div>
    <div style="float:right;width:330px;">
        <div style="border-bottom:1px solid #F1F1F1;padding-top:10px;padding-bottom:10px;overflow:hidden;">
            <div style="float:left;">
                <img style="height:50px;width:50px;" src="~/Content/Images/logo.png" />
            </div>
            <div style="float:left;">
                <span>王小宝</span>
            </div>
        </div>
        <div style="border-bottom:1px solid #F1F1F1;padding-top:10px;padding-bottom:10px;overflow:hidden;">
            <ul style="list-style:none;padding:0;margin:0;">
                <li>他的收益：</li>
                <li>他的收益：</li>
                <li>他的收益：</li>
            </ul>
        </div>
    </div>
</div>

<div id="product_others"></div>


