<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 米藕</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>
    
</head>
<body>
  
    <div id="navbar-full">
        <div id="navbar">
            <!--
             navbar-default can be changed with navbar-ct-blue navbar-ct-azzure navbar-ct-red navbar-ct-green navbar-ct-orange
             -->
            <nav class="navbar navbar-ct-blue navbar-fixed-top navbar-transparent" role="navigation">

                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand navbar-brand-logo" href="http://www.meetold.com">
                            <div class="logo">
                                <img src="../Content/Images/logo.png" style="width:60px;height:60px;">
                            </div>
                            <div class="brand">米藕 </div>
                        </a>
                    </div>
                  
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a data-toggle="" class="hidden-xs">
                                    <p>藕主</p>
                                </a>
                            </li>
                            <li>
                                <a data-toggle="" class="hidden-xs">
                                    <p>藕品</p>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="javascript:void(0);" data-toggle="search" class="hidden-xs">
                                    <i class="pe-7s-search"></i>
                                    <p>搜索</p>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="pe-7s-mail">
                                        <span class="label">23</span>
                                    </i>
                                    <p>消息</p>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="pe-7s-user"></i>
                                    <p>账户 <b class="caret"></b></p>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">我的藕品</a></li>
                                    <li><a href="#">排期</a></li>
                                    <li><a href="#">消毒保养</a></li>
                                    <li><a href="#">Vip</a></li>
                                    <li><a href="#">租单</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">账户管理</a></li>
                                </ul>
                            </li>
                        </ul>
                        <form class="navbar-form navbar-right navbar-search-form" role="search">
                            <div class="form-group">
                                <input type="text" value="" class="form-control" placeholder="搜索...">
                            </div>
                        </form>

                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
            <div class="blurred-container">
                <div class="img-src" style="background-image: url('../Content/Images/bg.jpg')"></div>
            </div>
        </div><!--  end navbar -->

    </div> <!-- end menu-dropdown -->

    <div class="container">
        @RenderBody() 

        @*<footer>
            <p>&copy; @DateTime.Now.Year - Meet Old</p>
        </footer>*@
    </div>
   
    @RenderSection("scripts", required: false)
</body>
</html>
