@{ 
    string actionName = ViewContext.RouteData.Values["action"].ToString();
    string controllerName = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 米藕</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/miou")
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Grand+Hotel' rel='stylesheet' type='text/css'>

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" style="padding:10px;" href="/Home/Index"><img style="width:30px;height:30px;" src="~/Content/Images/logo.png" /></a>
            </div>

            <div class="navbar-collapse collapse ">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("租赁", "Rent", "Home")</li>
                    <li>@Html.ActionLink("藕主", "Owner", "Home")</li>
                    <li>@Html.ActionLink("一起买", "Buy", "Home")</li>


                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<div class="navbar navbar-inverse" style="background:#FFF;border-radius:0;border:0;">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" style="padding:10px;"  href="/Home/Index"><img style="width:30px;height:30px;" src="~/Content/Images/logo.png" /></a>
                </div>
            </div>
        </div>*@
    <div class="container">
        <div style="overflow:hidden;padding:10px 0px 10px 0px;">
            <div class="lMenu" >
                <div class="lTitle">我的米藕</div>
                <ul class="lTitleUl">
                    <li class="lid libd @{if(controllerName=="My" && actionName=="AddProduct"){ @Html.Raw("liactive"); }}"><a href="/My/AddProduct">添加藕品</a></li>
                    <li class="lid @{if(controllerName=="My" && actionName=="MyProducts"){ @Html.Raw("liactive"); }}"><a href="/My/MyProducts">我的藕品</a></li>                   
                </ul>
                <div class="lTitle">我租入的</div>
                <ul class="lTitleUl">
                    <li class="lid libd @{if(controllerName=="My" && actionName=="NormalRentIn"){ @Html.Raw("liactive"); }}"><a href="/My/NormalRentIn">付费租入</a></li>
                    <li class="lid @{if(controllerName=="My" && actionName=="VIPRentIn"){ @Html.Raw("liactive"); }}"><a href="/My/VIPRentIn">VIP借入</a></li>                   
                </ul>
                <div class="lTitle">我租出的</div>
                <ul class="lTitleUl">
                    <li class="lid libd @{if(controllerName=="My" && actionName=="NormalRentOut"){ @Html.Raw("liactive"); }}"><a href="/My/NormalRentOut">收费租入</a></li>
                    <li class="lid @{if(controllerName=="My" && actionName=="VIPRentOut"){ @Html.Raw("liactive"); }}"><a href="/My/VIPRentOut">VIP借出</a></li>
                </ul>
                <div class="lTitle">资金管理</div>
                <ul class="lTitleUl">
                    <li class="lid libd @{if(controllerName=="My" && actionName=="Vip"){ @Html.Raw("liactive"); }}"><a href="/My/Vip">米藕VIP</a></li>
                    <li class="lid libd @{if(controllerName=="My" && actionName=="Money"){ @Html.Raw("liactive"); }}"><a href="/My/Money">我的资金</a></li>
                    <li class="lid @{if(controllerName=="My" && actionName=="Currency"){ @Html.Raw("liactive"); }}"><a href="/My/Currency">我的藕币</a></li>
                </ul>
                <div class="lTitle">其他</div>
                <ul class="lTitleUl">
                    <li class="lid libd @{if(controllerName=="My" && actionName=="Vip"){ @Html.Raw("liactive"); }}"><a href="/My/Certificate">米藕认证</a></li>
                    <li class="lid libd @{if(controllerName=="My" && actionName=="Money"){ @Html.Raw("liactive"); }}"><a href="/My/JoinUs">加入我们</a></li>
                    <li class="lid @{if(controllerName=="My" && actionName=="Currency"){ @Html.Raw("liactive"); }}"><a href="/My/ContactUs">联系我们</a></li>
                </ul>
            </div>
            <div class="rContent">
                @RenderBody()
            </div>
        </div>
        <footer>
            @Html.Partial("_footer")
        </footer>
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
