
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 米藕</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    @*<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("米藕", "Index", "VHome", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
              
               
            </div>
        </div>
    </div>*@
    @*<div style="width:100%; overflow:hidden;">
        <div style="width:50%;overflow:hidden;">
            <div class="top_pay_menu" id="payrent" style="float:right;text-align:center;padding-left:10px;padding-right:10px;padding-bottom:5px;padding-top:5px;">
                付费租赁
            </div>
        </div>
        <div style="width:50%;overflow:hidden;">
            <div class="vip_rent_menu" id="viprent" style="float:left;text-align:center;padding-left:10px;padding-right:10px;padding-bottom:5px;padding-top:5px;">
                Vip借用
            </div>
        </div>
    </div>*@
    <div style="text-align:center;padding-top:8px;padding-bottom:8px;background-color:#FFF;">
        <div class="btn-group" role="group" aria-label="...">
            <button id="global_byte" type="button" class="btn btn-default topRentMenu active">付费租赁</button>
            <button id="local_byte" type="button" class="btn btn-default topRentMenu">Vip借用</button>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
       
    </div>
    
    <div class="main_nav_bottom">
        <nav class="navbar navbar-default navbar-fixed-bottom">
            <div class="container" align="center">
                <style>
                    .nav-tabs {
                        text-align: center;
                        height: 40px;
                        line-height: 40px;
                    }
                </style>
                <ul class="nav nav-tabs nav-tabs-justified">
                    <div class="row" align="center">
                        <div class="col-md-4 col-sm-4 col-xs-4 mobileBottomMenu" align="center"><li><a href="#">租借</a></li></div>
                        <div class="col-md-4 col-sm-4 col-xs-4 mobileBottomMenu" align="center"><li><a href="#">藕主</a></li></div>
                        <div class="col-md-4 col-sm-4 col-xs-4 mobileBottomMenu" align="center"><li><a href="#">租单</a></li></div>
                        <div class="col-md-4 col-sm-4 col-xs-4 mobileBottomMenu" align="center"><li><a href="#">我的</a></li></div>
                    </div>
                </ul>
            </div>
        </nav>
    </div>

    

    @RenderSection("scripts", required: false)
</body>
</html>
