@using MiOU.Web.Helper
@{
    string currentAction = ViewContext.RouteData.Values["action"].ToString();
    string currentController = ViewContext.RouteData.Values["controller"].ToString();
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title - 米藕</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
    $(function () {
       
    });
    </script>
</head>
<body>
    
    <div class="container" style="min-height:750px;">
        @RenderBody()
    </div>
    
    <div class="menuNav">
        <ul class="nav_bottom">
           <li>
               <div class="navcontent">
                   <a class="@Html.IsBNavSelected(actions: "Index", controllers: "VHome")" href="/VHome/Index">
                       <img src="
                        @if (currentAction == "Index")
                        {
                            @Html.Raw("../Content/Images/rent_click_btn.png")
                        } else
                        {
                           @Html.Raw("../Content/Images/rent_btn.png")
                        }" style="width:30px;height:30px;" />
                       租赁
                   </a>
               </div>               
           </li>
            <li>
                <div class="navcontent">
                    <a class="@Html.IsBNavSelected(actions: "Owner", controllers: "VHome")" href="/VHome/Owner">
                        <img src="
                        @if (currentAction == "Owner")
                        {
                            @Html.Raw("../Content/Images/owner_click_btn.png")
                        } else
                        {
                           @Html.Raw("../Content/Images/owner_btn.png")
                        }
                             " style="width:30px;height:30px;" />
                        藕主
                    </a>
                </div>
            </li>
            <li>
                <div class="navcontent">
                    <a class="@Html.IsBNavSelected(actions: "Order", controllers: "VHome")" href="/VHome/Order">
                        <img src="
                              @if (currentAction == "Order")
                        {
                            @Html.Raw("../Content/Images/order_click_btn.png")
                        } else
                        {
                           @Html.Raw("../Content/Images/order_btn.png")
                        }
                             " style="width:30px;height:30px;" />
                        租单
                    </a>
                </div>
            </li>
            <li>
                <div class="navcontent">
                    <a class="@Html.IsBNavSelected(actions: "My", controllers: "VHome")" href="/VHome/My">
                        <img src="
                              @if (currentAction == "My")
                        {
                            @Html.Raw("../Content/Images/my_click_btn.png")
                        } else
                        {
                           @Html.Raw("../Content/Images/my_btn.png")
                        }
                             " style="width:30px;height:30px;" />
                        我的
                    </a>
                </div>
            </li>
       </ul>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
